<html>
<head>
    <link rel="Stylesheet" type="text/css" href="%root_path%css/style.css" />
	<link rel="shortcut icon" type="image/x-icon" href="http://www.vim.org/images/vim_shortcut.ico">
    <title>%title%</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Bootstrap or materialize -->
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" crossorigin="anonymous"> -->
	<link href="%root_path%css/bootstrap-theme.min.css" rel="stylesheet" >
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"> -->

	<!-- Roboto Font -->
	<link href='%root_path%css/roboto.css' rel='stylesheet' type='text/css'>

	<!-- Code Prettify -->
	<script async src="%root_path%js/code-prettify.js"></script>

	<!-- Some CSS, for removing Code prettify borders -->
	<style>


		pre.prettyprint {
			border: none !important;
			padding : 0.3px !important;
			color : white !important;
			background-color: #222222 !important;
		}

		div > pre > p {
			display : none !important;
		}
		div > pre > span {
			display : none !important;
		}

		body {
			font-family: Roboto Condensed, sans-serif !important; 
		}

	</style>
</head>
<body>

	<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<li><a class ="title" href="#">Vim Wiki</a></li>
				<li><a class = "nav-item"href="%root_path%index.html">Index</a></li>
			</ul>
		</div>
	</nav>


    <div class="container">
		%content%
    </div>


</body>
</html>
